------Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers.

------Question 2 :
Write a Python program to implement 15 functions of string.

-------Question 3:
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

-------Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [2]:
# Write a Python program to find the first 20 non-even prime 
# natural numbers
    
x = int(input("enter the lower limit-"))
y = int(input("enter the upper limit-"))

lst = range(x,y)

for c in lst:
    a=0
    for i in range(2,c//2+1):
        if (c % i == 0):
            a=a+1
    if (a<=0):
        print(c)

enter the lower limit-3
enter the upper limit-25
3
5
7
11
13
17
19
23

In [5]:
# Write a Python program to implement 15 functions of string.


str = input("enter the string: ")
str.capitalize()

enter the string: Padma

'Padma'

In [6]:
str.upper()

'PADMA'

In [7]:
str.find("a")

1

In [8]:
str.endswith("a")

True

In [9]:
str.swapcase()

'pADMA'

In [10]:
str.title()

'Padma'

In [16]:
str.strip("a")

'Padm'

In [19]:
str.join("palls")

'pPadmaaPadmalPadmalPadmas'

In [20]:
str.isspace()

False

In [22]:
str.encode()

b'Padma'

In [23]:
str.expandtabs()

'Padma'

In [29]:
str.isdigit()

False

In [31]:
str.islower()

False

In [17]:
str.center(7)

' Padma '

In [18]:
str.isidentifier()

True

In [2]:
# Write a Python program to check if the given 
# string is a Palindrome or Anagram or None of them. 
# Display the message accordingly to the user.

x = input("give any word to check: ")
print(x)
w = ""
for i in x :
    w = i + w
if (x == w):
        print("yes")
else:
        print("no")

give any word to check: geeks
geeks
no

In [14]:
# Write a Python's user defined function that removes all 
# the additional characters from the string and converts it 
# finally to lower case using built-in lower(). 
# eg: If the string is "Dr. Darshan Ingle @AI-ML Trainer", 
# then the output be "drdarshaningleaimltrainer".

char = ['!','@','#','$','&','*','.','?',':',';','^','_','-'," "]
given = input("enter the string: ")
print("given string: " + given)

for i in char:
    given = given.replace(i,'')
str.upper(given)
print('resultant list is : ' + str(given))

enter the string: Dr. Darshan Ingle @AI-ML Trainer
given string: Dr. Darshan Ingle @AI-ML Trainer
resultant list is : DrDarshanIngleAIMLTrainer